<!-- <h1>Hello from Bandhan</h1>

Name<input type="text" value ='{{ name }}' [(ngModel)] = name >

<ul>
    <li *ngFor = "let student of listOfStudents; let i=index" > {{ student }} {{ i }}</li>
</ul> -->

<div class="heading">
<h1>An API of Ice and Fire</h1>

</div>

<div class="buttons">

<button routerLink="books">Books</button> &nbsp;&nbsp;&nbsp;&nbsp;

<button routerLink="characters">Characters</button> &nbsp;&nbsp;&nbsp;&nbsp;

<button routerLink="houses">Houses</button>
</div>
<router-outlet></router-outlet>



<app-test></app-test>